*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  margin: 0;
}

.container .ql-editor {
  width: 8.5in;
  min-height: 11in;
  padding: 1in;
  margin: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  background-color: white;
}

.container .ql-container.ql-snow {
  border: none;
  display: flex;
  justify-content: center;
}

.container .ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f3f3f3;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.voice-recorder {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  background-color: #f3f3f3;
  padding: 10px;
  position: sticky;
  z-index: 1;
  bottom: 0;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}


.voice-button-start{
  background-color: #45a049;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.voice-button-speech-on {
  background-color: rgb(3, 122, 250);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.voice-button-speech-start {
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.switch {
  width: 50px;
  height: 25px;
  border-radius: 15px;
  background-color: #ccc;
  position: relative;
  transition: background-color 0.2s;
}

.switch.on {
  background-color: #4caf50;
}

.switch.on::before {
  transform: translateX(25px);
}

.switch::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  transition: transform 0.2s;
}

.language-selection-container {
  display: flex;
  align-items: center; 
}

.language-select {
  margin-left: 10px; 
  margin-right: 10px;
  padding: 5px;
  font-size: 14px; 
  border-radius: 4px; 
  border: 1px solid #ccc; 
  outline: none; 
  transition: border-color 0.2s; 
}

.voice-button-stop,.voice-button-speech-off {
  background-color: #e41e26;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.voice-button-start:hover{
  background-color: #1f5622;
}

.voice-button-speech-on:hover{
  background-color: rgb(4, 76, 152);;
}

.voice-button-stop:hover,.voice-button-speech-off:hover{
  background-color: #921317;
}

@page {
  margin: 1in;
}

@media print {
  body {
      background: none;
  }

  .container .ql-editor {
      width: 6.5in;
      height: 9in;
      padding: 0;
      margin: 0;
      box-shadow: none;
      align-self: flex-start;
  }

  .container .ql-toolbar.ql-snow {
      display: none;
  }

  .voice-recorder {
      display: none;
  }
}
